In [1]:
from dask.distributed import Client, wait
from dask_cuda import LocalCUDACluster

ip = '0.0.0.0'
cluster = LocalCUDACluster(ip=ip)
client = Client(cluster)
client

In [11]:
import dask.array as da
import dask.dataframe as dd

n_rows = 1000000000
n_keys = 5000000

left = dd.concat([
    da.random.random(n_rows).to_dask_dataframe(columns='x'),
    da.random.randint(0, n_keys, size=n_rows).to_dask_dataframe(columns='id'),
], axis=1).persist()
left

Dask DataFrame Structure:
                      x     id
npartitions=64
0               float64  int64
15625000            ...    ...
...                 ...    ...
984375000           ...    ...
999999999           ...    ...
Dask Name: concat-indexed, 64 tasks

In [12]:
n_rows = 10000000

right = dd.concat([
    da.random.random(n_rows).to_dask_dataframe(columns='y'),
    da.random.randint(0, n_keys, size=n_rows).to_dask_dataframe(columns='id'),
], axis=1).persist()
right

Dask DataFrame Structure:
                     y     id
npartitions=1
0              float64  int64
9999999            ...    ...
Dask Name: concat-indexed, 1 tasks

In [13]:
import dask
import cudf

gleft = left.map_partitions(cudf.from_pandas)
gright = right.map_partitions(cudf.from_pandas)

gleft, gright = dask.persist(gleft, gright)

In [14]:
gleft

In [15]:
%time gleft.x.sum().compute()

CPU times: user 6.66 s, sys: 781 ms, total: 7.44 s
Wall time: 1min 32s

499991035.1503544

In [16]:
from distributed.utils import format_bytes
format_bytes(len(gleft) * 8 * 2)

'16.00 GB'

In [17]:
format_bytes(len(gright) * 8 * 2)

'160.00 MB'

In [18]:
out = gleft.merge(gright, on=['id'])  # this is lazy
out

In [19]:
out = out.persist()
%time _ = wait(out)

CPU times: user 19.9 s, sys: 1.35 s, total: 21.3 s
Wall time: 2min 44s

In [12]:
out.head().to_pandas()

          x       id         y
0  0.952368  3856280  0.657756
1  0.197601  4694170  0.997909
2  0.935627  1476112  0.871383
3  0.949008  3347920  0.241558
4  0.974685   491036  0.849431

In [12]:
from distributed.utils import format_bytes
format_bytes(len(out) * 8 * 3)  # TODO: cudf needs `.memory_usage()` method

'64.05 GB'