In [2]:
import cudf

# source: https://sraf.nd.edu/textual-analysis/resources/#Master%20Dictionary
fn = '/data/dict/dict.csv'
header = get_header(fn)

names = header.split(',')
numerics = ['Negative', 'Positive']
dtypes = ['int' if name in numerics else 'str' for name in names]

cols = cudf.io.csv.read_csv_strings(fn, names=names, dtype=dtypes, skiprows=1)

In [1]:
def get_header(fn):
    with open(fn) as f:
        return f.readline()

In [3]:
dict_df = cudf.read_csv(fn)

In [5]:
print(dict_df.head())

         Word Sequence Number Word Count         Word Proportion      Average Proportion                 Std Dev Doc Count ...    Source
0 -1459489147               1        275 1969-12-31T23:59:59.000 1969-12-31T23:59:59.000 1969-12-31T23:59:59.000        82 ... 1447105418
1  1507414917               2          3 1969-12-31T23:59:59.000 1969-12-31T23:59:59.000 1969-12-31T23:59:59.000         1 ... 1447105418
2  -128529636               3          8 1969-12-31T23:59:59.000 1969-12-31T23:59:59.000 1969-12-31T23:59:59.000         7 ... 1447105418
3  -831177214               4          6 1969-12-31T23:59:59.000 1969-12-31T23:59:59.000 1969-12-31T23:59:59.000         6 ... 1447105418
4  1620707867               5       6729 1969-12-31T23:59:59.000 1969-12-31T23:59:59.000 1969-12-31T23:59:59.000       845 ... 1447105418
[11 more columns]

In [8]:
cols

[<nvstrings count=86551>,
 <nvstrings count=86551>,
 <nvstrings count=86551>,
 <nvstrings count=86551>,
 <nvstrings count=86551>,
 <nvstrings count=86551>,
 <nvstrings count=86551>,
 <cudf.Series nrows=86551 >,
 <cudf.Series nrows=86551 >,
 <nvstrings count=86551>,
 <nvstrings count=86551>,
 <nvstrings count=86551>,
 <nvstrings count=86551>,
 <nvstrings count=86551>,
 <nvstrings count=86551>,
 <nvstrings count=86551>,
 <nvstrings count=86551>,
 <nvstrings count=86551>,
 <nvstrings count=86551>]

In [6]:
print(cols[7].head())

0    0
1    0
2    0
3    0
4    0

In [7]:
print(cols[8].head())

0    0
1    0
2    0
3    0
4    0

In [9]:
# source: https://www.kaggle.com/ehallmar/beers-breweries-and-beer-reviews
fn = '/data/beers/beers.csv'
header = get_header(fn)
names = header.split(',')
dtype = ['str' for name in names]
cols = cudf.io.csv.read_csv_strings(fn, names=names, dtype=dtype, skiprows=1)

In [12]:
names

['id',
 'name',
 'brewery_id',
 'state',
 'country',
 'style',
 'availability',
 'abv',
 'notes',
 'retired\n']

In [14]:
print(cols[5].sublist([0, 1]))

['English Oatmeal Stout', 'Russian Imperial Stout']

In [16]:
fn = '/data/beers/reviews.csv'
header = get_header(fn)
names = header.split(',')
dtype = ['str' for name in names]
cols = cudf.io.csv.read_csv_strings(fn, names=names, dtype=dtype, skiprows=1)

In [18]:
names

['beer_id',
 'username',
 'date',
 'text',
 'look',
 'smell',
 'taste',
 'feel',
 'overall',
 'score\n']

In [20]:
print(cols[-1].sublist([0, 1, 2, 3, 4]))

['4.03', '4.5', '4.75', '4.58', '4.31']